@using Technolog.Web.Helpers
@{
    ViewBag.Title = "Index";
}

<div id="content" class="full-height"></div>

<script>
    antiForgeryToken = '@Html.GetAntiForgeryToken()'
</script>

@*@Html.React("CommentBox", new
{
    token = Html.GetAntiForgeryToken(),
})*@